{% for vrf in vrfs %}
!
vrf definition {{ vrf.name }}
 {% if vrf.rd is defined %}
 rd {{ vrf.rd }}
 {% endif %}
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
{% endfor %}