{% for interface in loopback_interfaces %}
!
interface {{ interface.name }}
{% if interface.desc is defined %}
 description {{ interface.desc }}
{% endif %}
{% if interface.vrf is defined %}
 vrf forwarding {{ interface.vrf }}
{% endif %}
{% if interface.ipv4_addr is defined %}
 ip address {{ interface.ipv4_addr }}
{% else %}
 no ip address
{% endif %}
{% if interface.ipv6_addr is defined %}
 ipv6 address {{ interface.ipv6_addr }}
 ipv6 enable
{% endif %}
{% if interface.ospf is defined %}
 {{ interface.ospf }}
{% endif %}
{% endfor %}